body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.header_title{
    font-size: 3rem;
    font-weight: bold;
    color: #2874A6;
    text-align: center;
    margin-bottom: 2rem;
}

